<% for article in @articles -%>
 <div class="post">
  <%= render :partial => "articles/article", :object => article %>
  <%= article_link "Read more...", article if article.extended? %>  
  </div>
<% end -%>

<%= will_paginate @articles %>