<% for article in @articles -%>
 <div class="post">
  <%= render :partial => "articles/article", :object => article %>
  <%= link_to_permalink(article, "#{_("Read more")}...") if article.extended? %>  
  </div>
<% end -%>

<%= will_paginate @articles %>