<% for article in @articles -%>
<div class="post">
  <div class="content">
    <%= render :partial => "articles/article", :object => article %>
    <%= link_to_permalink article, "Read more&hellip;" if article.extended?  %>
  </div>
  <p class="meta"><%= article_links article %></p>
</div>
<% end -%>

<p id="pagination"><%= will_paginate @articles %></p>
