<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Modernist.</title>
	
	<link rel="stylesheet" type="text/css" href="../stylesheets/modernist.css" />	
	
	<script src="../javascript/prototype.js" type="text/javascript"></script>
	<script src="../javascript/effects.js" type="text/javascript"></script>
	<script src="../javascript/typo.js" type="text/javascript"></script>
	
</head>
<body>
<div id="wrap">
    <div id="header">
            <div>
                <h1>Time to Breathe</h1>
                <h2>Musings of a degenerate. Universal wisdom.</h2>
            </div>
    </div>
    
    <div id="content">
        <div class="flip"><a href="#header" onclick="new Effect.ScrollTo('header'); return false" class="flip-top" title="Scroll to the top"> </a><a href="#post-2" onclick="new Effect.ScrollTo('post-2'); return false" class="flip-next" title="Scroll to the next post"> </a><a href="#menu" onclick="new Effect.ScrollTo('menu'); return false" class="flip-menu" title="Scroll to the menu"> </a></div>
        <h3 id="post-1"><a href="#1">Reasons for waiting</a> Steven <span class="h-date">Nov. 8</span></h3>
        <p>The long-term benefits of Helvetica have been well known for quite some time now. For example, <a href="#">Jake</a> writes extensively on the subject on his personal home page.</p>

        <blockquote><p>During the Bubble, a lot of people predicted that startups would outsource their development to India. I think a better model for the <a href="http://www.google.com/">future</a> is David Heinemeier Hansson.</p></blockquote>
        
        <ul>
            <li>One<br />Multi line list item!</li>
        </ul>
        
        <ol>
            <li>The first item</li>
        </ol>
        
        <pre><code>def chunkify_bacon
    foreach @bacon do |b|
        b.crunch
    end
end</code></pre>
        
        <div class="post-meta">
            <div>
                <ul>
                    <li><a href="#">23 Comments</a></li>
                    <li><a href="#">No trackbacks</a></li>
                    <li class="post-meta-cat"><a href="#">Graphics</a></li>
                    <li class="post-meta-cat"><a href="#">Usability</a></li>
                </ul>
                <span class="clear"> </span>
            </div>
        </div>
        
        <div class="leaf">&nbsp;</div>
        
        
        <div class="flip"><a href="#header" onclick="new Effect.ScrollTo('header'); return false" class="flip-top" title="Scroll to the top"> </a><a href="#post-2" onclick="new Effect.ScrollTo('post-2'); return false" class="flip-next" title="Scroll to the next post"> </a><a href="#menu" onclick="new Effect.ScrollTo('menu'); return false" class="flip-menu" title="Scroll to the menu"> </a></div>
        
                <h3 id="post-2"><a href="#1">Reasons for waiting</a> Steven <span class="h-date">Nov. 8</span></h3>
                <p>The long-term benefits of Helvetica have been well known for quite some time now. For example, <a href="#">Jake</a> writes extensively on the subject on his personal home page.</p>

                <blockquote><p>During the Bubble, a lot of people predicted that startups would outsource their development to India. I think a better model for the <a href="http://www.google.com/">future</a> is David Heinemeier Hansson.</p></blockquote>

                <ul>
                    <li>One<br />Multi line list item!</li>
                </ul>

                <ol>
                    <li>The first item</li>
                </ol>

                <pre><code>def chunkify_bacon
            foreach @bacon do |b|
                b.crunch
            end
        end</code></pre>

                <div class="post-meta">
                    <div>
                        <ul>
                            <li><a href="#">23 Comments</a></li>
                            <li><a href="#">No trackbacks</a></li>
                            <li class="post-meta-cat"><a href="#">Graphics</a></li>
                            <li class="post-meta-cat"><a href="#">Usability</a></li>
                        </ul>
                        <span class="clear"> </span>
                    </div>
                </div>

                <div class="leaf">&nbsp;</div>

            <div class="flip"><a href="#header" onclick="new Effect.ScrollTo('header'); return false" class="flip-top" title="Scroll to the top"> </a></div>
        <div id="menu">
            <div id="menu-inner">
               <div class="menu-item">

                    <h3><label for="q">Search</label></h3>
                    
                    <form action="/articles/search" id="sform" method="get">
                        <input type="text" id="q" name="q" value="" size="15" />
                        <img src="../images/flip-down-0.gif" />
                    </form>
                    <ul>
                        <li><a href="#">res 1</a></li>
                        <li><a href="#">res 2</a></li>
                        <li><a href="#">res 3</a></li>
                    </ul>
                </div>


                <div class="menu-item">
                    <h3>Categories</h3>
                    <ul>
                        <li><a href="#">Design</a></li>
                        <li><a href="#">Usability</a></li>
                        <li><a href="#">Graphic Design</a></li>
                    </ul>
                </div>

                <div class="menu-item">
                <h3>Links</h3>
                    <ul>
                        <li><a href="#">Typo</a></li>
                        <li><a href="#">Too-Biased</a></li>
                        <li><a href="#">Poocs.net</a></li>
                        <li><a href="#">Seth Hall</a></li>
                    </ul>
                </div>
                <div class="menu-item">
                    <h3>Syndicate</h3>
                    <ul>
                        <li><a href="#">Articles</a></li>
                        <li><a href="#">Comments</a></li>
                    </ul>
                </div>
                <div class="clear"> </div></div>
            </div>
    </div>

</div>

</body>

</html>