/*+-------------------------------------------+
  Screen Styles
  +-------------------------------------------+*/

body {
	margin: 0;
	text-align: center;
	background: #556;
	font: 1.1em Helvetica, Arial, Verdana, sans-serif;
	color: #333;
}
	
#container {
	margin: 0 auto;
	width: 750px;
	text-align: left;
	background: #556 url(../../images/theme/bg.jpg) repeat-y;
	border: 0px;
	font-size: 80%;
	min-height: 100%;
}
	
#header { 
	width: 700px;
	margin: 0 25px 0 25px;
	padding: 0;
}

#header #title {
	background: #d50;
	width: 700px;
	height: 90px;
	padding: 0;
	margin: 0;
}

#header #title h1 {
	padding: 15px 0 0 15px;
	color: #fff;
	text-decoration: none;
	font-size: 1.6em;
	font-weight: bold;
}

#header #subtitle {
	width: 700px;
	height: 24px;
	padding: 0;
	margin: 0;
	background: #411 url(../../images/theme/switcher.gif) 5px 5px no-repeat;
	text-align: right;
}

#header #subtitle h2 {
	color: #fff;
	font-size: 0.9em;
	display: inline;
	vertical-align: middle;
	line-height: 1.9em;
	text-align: right;
	letter-spacing: 1px;
	text-transform: uppercase;
	background: none;
}	
	
#content {
	margin: 7px 25px 0 25px;
}

#main { 
	width: 500px;
	margin-left: 192px;
}
	
#sidebar {
	width: 177px;
	float: left;
	padding-left: 10px;
}
	
#footer {
	background: #7F7F7F;
	margin: 7px 25px 0 25px;
	height: 35px;
	text-align: left;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	text-transform: uppercase;
	line-height: 1.5em;
	vertical-align : middle;
}

/*+-------------------------------------------+
  STYLE SWITCHER
  +-------------------------------------------+*/
#simplicity-brown,
#simplicity-orange,
#simplicity-green {
	float: left;
	margin: 4px 5px 0 0;
	width: 12px;
	height: 12px;
}

#simplicity-orange {
	margin-left: 6px;
}
	
/*+-------------------------------------------+
  LINKS
  +-------------------------------------------+*/
a {
	color: #556;
	text-decoration: none;
	border-bottom: 1px dotted #5189b5;
}
	
a:hover { 
	color: #d50; 
	border-bottom-color: #FCA93F; 
}

#header a {
	color: #fff;
	text-decoration: none;
	border: none;
}
	
#header a:hover { 
	color: #fff; 
	border-bottom: 1px dashed #fff;
}

#footer a { 
	border: none;
	color: #fff;
}

/*+-------------------------------------------+
  UTILITY
  +-------------------------------------------+*/
  
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
	
form, div { 
	padding: 0; 
	margin: 0; 
}
  
p {
	margin: 0 0 1em 0; 
	padding: 0; 
}

img {
	border: 0;
}


/*+-------------------------------------------+
  SEARCH
  +-------------------------------------------+*/	

#sidebar #search { 
 	padding: 0px;
 	margin-bottom: 10px;
}

#sidebar #searchform #s {
	width: 130px;
	margin-top: 0px;
}
	
#search-results {
	padding: 0px;
	margin: 0 10px 10px 0;
}
  

/*+-------------------------------------------+
  POST
  +-------------------------------------------+*/
.post {
	display: block;
	margin: 0 3px 20px 5px;
	padding-bottom: 5px;
	border-top: 1px solid #acacac;
	padding-right: 5px;
	padding-left: 8px;
	font-size: 75%;
	background: #fff;
}

.post h2 {
	padding: 5px 0 2px 0;
	color: #000;
	font-size:95%;
	letter-spacing: 1.2px;
	border:none;
	text-transform: uppercase;
}
	
.post h2 a {
	color: #000;
	text-decoration: none;
	border: none;
}
	
.post h2 a:hover {
 	color: #00;
 	border-bottom: 1px dotted #fff;
}
	
p.meta {
  	font-size: 80%;
	text-align: right;
	margin-right: 5px;
	text-transform: uppercase;
}
	
p.auth {
 	padding: 0;
	font-size: 75%;
	color: #411;
	text-transform: uppercase;
}
	
h4.blueblk {
 	padding: 5px;
 	margin: 10px 0;
 	border-top: 1px dotted #acacac;
 	color: #000;
 	text-transform: uppercase;
 	font-size: 85%;
 }
 
 .showhide {
	background: #ddc;
	padding: 1px 2px 1px 2px;
}
 	
 	
/*+-------------------------------------------+
  COMMENTS
  +-------------------------------------------+*/

.comment-list li {
	background: #fff;
	margin-bottom: 5px;
	padding: 5px 0 1px 5px;
	border-left: 1px solid #acacac;
  	color: #555;
  	font-size: 80%;
}

.postmetadata {
	margin: 0;
	padding: 0 0 0 5px;
	text-transform: uppercase;
	font-size: 70%;
}

.comment-box {
	font-size: 80%;
}

  	
 
/*+-------------------------------------------+
  SIDEBAR
  +-------------------------------------------+*/
  
#sidebar h3 {
	display: block;
 	font-size: 0.8em;
	letter-spacing: 1.2px;
 	color: #000;
 	margin-top: 15px;
 	margin-bottom: 3px;
	text-transform: uppercase;
	width: 100%;
	border-bottom: 1px solid #acacac;
 }
 		
#sidebar h3 a {
	color: #000;
	border-bottom: 1px dotted #fff;
	font-style: italic;
}

#sidebar h3 a:hover { 
	color: #fff; 
	border-bottom-color: #fff; 
	font-style: italic;
}

#sidebar ul {
	display: block;
 	margin: 0 0 10px 0;
 	padding: 0;
 	list-style-type: none;
}
 		
#sidebar ul li { 
	font-size: 0.8em;
}

#sidebar ul li a {
	color: #222;
	border: none;
}

#sidebar ul li a:hover {
	color: #fff;
	border: none;
}
 	 
#flickr div img {
 	border: 2px solid #fff;
}
 	
#flickr div {
	width: 104px;
	margin-bottom: 5px;
	margin-left: 1px;
}

#flickr div.flickrsquare { 
	width: 82px;
	float: left;
	margin-right: 4px;
}

#flickr div a {
	border: none; 
}


  
/*+-------------------------------------------+
  FOOTER
  +-------------------------------------------+*/
  
#footer ul {
	margin: 0;
	padding: 8px 0 0 10px;
	list-style: none;
	vertical-align: middle;
}
  	
#footer ul li {
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 75%;
}
 
  	
/*+-------------------------------------------+
  FORMS
  +-------------------------------------------+*/
   
input, textarea, select {
 	border: 1px solid #556;
 	background: #f9f9f9;
}
 	
.frm-tbl td { 
	vertical-align: top; 
	padding: 5px; 
}
 
td#frm-btns {
	text-align: right;
}
 	
#comment_body { 
	height: 220px;
}

#form-submit-button { 
	background: #fff;
}

  
/*+-------------------------------------------+
  MISC
  +-------------------------------------------+*/

.pullquote {
	width: 30%;
	float:right;
	font: 150%/1.5em Times, Helvetica, "Times New Roman", serif;
	color: #666;
	margin:10px;
	background: url(/images/theme/q-close.gif) no-repeat 70% 100% !important;
	background /**/:url(); /* removing quote graphic in IE5+ */
	padding: 0 25px 5px 0;
}

.pullquote:first-letter {
	background: url(/images/theme/q-open.gif) no-repeat left top !important;
	padding:5px 2px 10px 35px!important;
	padding /**/:0px; 	/* resetting padding in IE5+ */
	background /**/: url(); /* removing quote graphic in IE5+ */
}

.light-bg { 
	font-size: 85%;
	padding: 0 0 0 5px;
	color: #411;
}

.tracktext { 
	font-size: 75%;
	padding: 0 0 0 5px;
	display: block;
	text-transform: uppercase;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
 
#errors {
   color: red;
}

.admintools {
  float: right;
  background-color: #fff;
  font-size: smaller;
  padding: 0 2px;
  margin: 0 1px;
  color: #ccc;
  border: 1px solid #ccc;
}

.admintools:hover {
  color: #c00;
  border: 1px solid #c00;
}

a[name] {
	border: none;
}

/* Hides from IE-mac \*/
 * html .clearfix {height: 1%;}
/* End hide from IE-mac */

#categories li em, #archives li em {
	color: #d50;
	font-size: smaller;
}
