/* 


Typo Theme by 
Thomas Aylott of 
design42's subtlegradient 

design42.com
subtlegradient.com


*/

* {
	margin: 0;
	padding: 0;
}

body {
	font: 76% Verdana, sans-serif;
	color: #333;
	background: #898989 repeat url(/images/theme/sg_nbodypatl.gif) fixed;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a img {
	border: none;
}

a:link, a:visited {
	color: #004080;
	border-bottom: 1px solid #9999ff;
	padding-right: 3px;
	padding-left: 3px;
}

a:hover {
	color: #000080;
	background-color: #66ccff;
	border-bottom: 1px solid #000080;
	text-shadow: none;
}

#sidebar a:link, #sidebar a:visited, #search a:link, #search a:visited, #header a:link, #header a:visited, #footer a:link, #footer a:visited {
	color: #a8ffff;
	border-bottom-color: #006699;
	padding-bottom: 1px;
}

#sidebar a:hover,

#search a:hover,

#header a:hover, 

#footer a:hover {
	color: #0b4276;
}

/*<group=h>*/

h1,h2,h3,h4 {
	font-family: "New York", Georgia, "Times New Roman", Times, serif;

	font-weight: normal;

	clear: both;
}

h1 {
	font-size: 5em;
	line-height: 75%;
	z-index: 1000;
	position: relative;
	bottom: -4px;
}

/*</group>*/

/*<group=Header>*/

#header {
	background: #040404 url(/images/theme/sg_n1500.gif) repeat-x;
	color: #666666;
	padding-top: 64px;
}

#sitename {
	padding-left: 16px;
	padding-right: 16px;
	text-align: center;
	text-shadow: -2px -1px 0px #999999;
	z-index: 1000;
	position: relative;
}

#sitename a:link, #sitename a:visited {
	color: #797979;
	border-bottom-style: none !important;
}

#sitename a:hover {
	background: none;
	color: #999999;
}

#rsshead {
	float: right;
	background: #777777;
	padding: 5px 8px;
	margin-top: -4px;
}

#rsshead:hover {
	background: #66caf2;
	color: #000080;
}

#subtitle {
	background: #797979 url(/images/theme/sg_n4020.gif) repeat-x;
	color: #ffffff;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #000000;
	text-align: center;
	text-shadow: 1px 2px 1px #333333;
	padding: 16px;
	font: 1.5em Georgia, 'Times New Roman', Times, serif;
	letter-spacing: .25em;
}

/*</group>*/

/*<group=search>*/

.toplinks {
	float: right;
}

.toplinks a, .toplinks a:link, .toplinks a:visited {

}

#search {
	background: #040404 url(/images/theme/sg_n1500.gif) repeat-x;
	color: #ffffff;
	padding: 16px;
	font-size: .9em;
	border-bottom: 4px solid #666666;
	border-top: 2px solid #3d3d3d;
	margin-bottom: 30px;
	text-align: center;
}

#search_spinner {
	position: absolute;
	margin: 2px;
}

#search label {
	color: #999999;
	text-shadow: 1px 2px 0px #000000;
	vertical-align: middle;
}

#search input {
	vertical-align: middle;
	margin-left: .5em;
}

#search ul {
	margin-top: 1em;
}

#search ul, #search li {
	list-style: none;
}

#search li {
	display: inline;
}

#search-results {
	text-align: center;
	width: 38em;
	margin-right: auto;
	margin-left: auto;
}

#search-results p {
	color: #999999;
	font-size: .75em;
	text-align: left;
	margin-bottom: 5px;
	display: none;
}

#search-results p em {
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
}

#search-results a:link, #search-results  a:visited {
	background: url(/images/theme/article.png) no-repeat 2px;
	white-space: nowrap;
	line-height: 1.5em;
	padding-left: 20px;
}

#search-results  a:vsited {
	color: #8000ff !important;
	border-bottom-color: #8000ff !important;
}

#search-results  a:hover {
	background-color: #66ccff;
	color: #000080;
}

/*</group>*/

/*<group=post>*/

#main {
	text-align: center;
}

div.post, #viewpage {
	width: 38em;
	background: #ffffff url(/images/theme/sg_npage0.gif) no-repeat right bottom;
	padding: 0.5em;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #333333;
	clear: right;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}

div.content {
	font: 1.1em/normal Georgia, 'Times New Roman', Times, serif;
	color: #333333;
}

div.post div.content, 
#viewpage div.content {
	border: 1px dotted #cccccc;
	padding: 0.5em;
	margin: 0;
	background: url(/images/theme/sg_npagetl.gif) left top no-repeat;
}

div.post img, #viewpage img {
	margin-left: .5em;
	margin-right: .5em;
	margin-bottom: .25em;
}

div.post img, #viewpage img, div.post a img, div.post a:link img, div.post a:visited img {
	background: #040404 url(/images/theme/sg_n1500.gif) repeat-x;
	padding: .5em .5em 1em;
	text-align: center;
	border: 1px solid #000000;
	border-top-color: #cccccc;
	border-left-color: #333333;
	border-bottom-width: 2px;
}

 div.post a img, div.post a:link img, div.post a:visited img {
	margin: 0 -4px;
}

div.post a:visited img, #viewpage a:visited img {
	background: #424242 url(/images/theme/sg_n4020.gif) repeat-x;
}

div.post a:hover img, #viewpage a:hover img {
	background: url(/images/theme/sg_npagetl.gif) left top no-repeat #ffffff;
	border-color: #cccccc;
	border-bottom-color: #666666;
	border-top-color: #eeeeee;
}

div.content h1 {
	font-size: 2.5em;
	line-height: 1.2em;
}

div.content h2, div.content h3, div.content h4, div.content h5, div.content h6 {
	font-weight: bold;
}

div.content p {
	margin-bottom: 1em;
	margin-top: 1em;
	text-indent: 1em;
	text-align: justify;
}

div.content p:first-line {
	font-size: 1.1em;
	line-height: 1em;
}

div.content h2.postTitle, div.content h2.postTitle a:link, div.content h2.postTitle a:visited {
	color: #000000;
	text-shadow: 1px 2px 1px #cccccc;
	font-family: "New York", Georgia, "Times New Roman", Times, serif;

	font-weight: bold;

	border-bottom-style: none;
}

div.content h2.postTitle {
	border-bottom: 1px #999999 solid;
	font-size: 1.5em;
	line-height: 1em;
	padding-top: .5em;
	padding-bottom: 4px;
	text-align: center;
}

div.content h2.postTitle:first-line {
	font-size: 1.25em;
}

div.content h2.postTitle a:hover {
	color: #000080;
	border-bottom: 1px solid #004080;
	text-shadow: none;
}

div.content p.auth, div.post p.meta {
	color: #999999;
	padding-top: 2px;
	margin: 0;
	text-indent: 0;
	text-align: center;
	border-top: 2px solid #ffffff;
	font-size: 76%;
	font-style: italic;
}

div.post p.meta, #viewpage p.meta {
	clear: both;
	color: #999999;
	text-align: center;
	text-indent: 0;
	border-top: 1px solid #ffffff;
}

div.content p.meta a {
	white-space: nowrap;
}

div.content table {
	margin-bottom: 1em;
	margin-top: 1em;
	width: 100%;
	background-color: #f6f6f6;
	padding: .5px;
	border-spacing: 0px 0px;
	border: 2px solid #eeeeee;
	border-collapse: collapse;
	border-bottom-color: #cccccc;
}

div.content td, div.content th {
	border-spacing: 0;
	padding: 2px 3px;
	font: .75em Geneva, Arial, Helvetica, sans-serif;
	text-align: center;
}

div.content * th {
	background: #eeeeee;
	border-bottom: 1px solid #cccccc;
}

div.content td {
	border-bottom: 1px solid #eeeeee;
	background: #ffffff;
	border-right: 1px solid #eeeeee;
}

/*<group=Lists>*/

div.content li {
	color: #000000;
	line-height: 1.5em;
}

div.content li li {
	color: #333333;
	font-weight: normal;
}

div.content li ul li {
}

div.content li li li {
	color: #666666;
}

div.content li li li li {
	
}

div.content ol li ul li {
	list-style: disc;
}

div.content ol li {
}

div.content ol li li {
	list-style: lower-alpha;
}

div.content ol li li li {
	list-style: lower-roman;
}

div.content ol li li li li {
	list-style: decimal;
}

div.content ul, div.content ol {
	margin-left: 1.25em;
	margin-bottom: 1em;
}

div.content ol ol, div.content ul ul, div.content ul ol, div.content ol ul {
	margin-bottom: .1em;
	font-size: 90%;
}

/*</group>*/

div.content del {
	color: #999999;
	text-decoration: line-through;
	letter-spacing: -1pt;
}

div.content ins {
	text-decoration: none;
	color: #000000;
	font-style: italic;
	border-bottom: 1px solid #cccccc;
	letter-spacing: 1pt;
}

div.content blockquote {
	color: #666666;
	font-size: .9em;
	background: #f6f6f6 url(/images/theme/q-open.gif) no-repeat left top;
	font-style: italic;
	padding: .25em 1em .25em 1.75em;
	border-bottom: 2px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	margin: .5em;
	border-top: 1px solid #ffffff;
}

div.content p code {
	background: #eeeeee;
	color: #000000;
	font: 12px ProFont, MPW, Monaco, "Courier New", Courier, mono;
	padding-right: .5em;
	padding-left: .5em;
}

div.content pre {
	font: 12px ProFont, MPW, Monaco, "Courier New", Courier, mono;
	color: #ffffff;
	background: #333333;
	overflow: auto;
	padding: 5px;
	margin-top: 1em;
	margin-bottom: 1em;
	position: relative;
	clear: both;
	border: solid #666666 0;
	border-right-width: 1px;
	border-bottom-width: 2px;
	display: block;
}

#pagination {
	width: 37em;
	background: #000000;
	color: #ffffff;
	padding: 1em;
	border: 1px solid #666666;
	text-align: center;
	margin: 1em auto 0;
}

/*</group>*/

/*<group=admin tools>*/

#admin_article {
	position: absolute;
	font-size: 2em;
	padding: .25em;
}

a.admintools:link, a.admintools:visited {
	font-size: 50%;
	color: #66ccff !important;
	background: #000080 !important;
	margin-right: .25em;
}

a.admintools:hover {
	background: #66ccff !important;
	color: #000080 !important;
}

div.cite div {
	text-align: left;
	position: absolute;
}

/*</group>*/

/*<group=Comments>*/

/* this's the whole section itself */

#commentBlock {
	background: url(/images/theme/postmirror.png) repeat-x center top;
	padding-top: 3em;
}

#commentBlock, #comment_box {
	width: 39em;
	margin-right: auto;
	margin-left: auto;
}

#trackbackList,
#commentList, 
#comment_box {
	width: 26em;
	margin-right: auto;
	margin-left: auto;
}

.comment-list, .trackback-list {

}

.comment div.content {
	color: #ffffff;
	text-shadow: 1px 2px 1px #333333;
	background: #424242 url(/images/theme/sg_n4020.gif) repeat-x;
	padding: 0 0.5em 0.5em;
	border: 1px solid #636363;
	border-right-color: #333333;
	border-bottom-color: #000000;
	border-left-color: #424242;
	font-size: 55%;
}

.trackback-list .comment div.content {
	background: #040404 url(/images/theme/sg_n1500.gif) repeat-x;
}

.comment div.content {
	text-indent: 1em;
	line-height: 1.45em;
}

.comment div.content:first-line, .comment div.content textarea:first-line {
	font-size: 110%;
}

.comment {
	clear: both;
	padding: 0;
	font: 2em Georgia, 'Times New Roman', Times, serif;
	list-style: outside lower-alpha;
	color: #000000;
}

.comment a:link, .comment a:visited {
	color: #a8ffff;
}

a.anchor {
	position: absolute;
}

.trackback-list .comment {
	list-style: decimal outside;
	color: #000000;
}

.comment div.content blockquote, .comment div.content table {
	color: #eeeeee;
	border-color: #333333;
	background: #666666 none;
}

.comment div.content td, .comment div.content th {
	background: #000000;
	border-color: #333333;
}

.comment div.content th {
	background: #333333;
	border-color: #333333;
}

.comment div.content li {
	color: #eeeeee;
	text-align: left;
}

div.content p code {
	background: #333333;
	color: #cccccc;
	text-shadow: none;
}

/* cite  */

.comment .cite {
	padding: .25em .25em 1em;
	display: block;
	text-align: right;
	font: 65% Georgia, 'Times New Roman', Times, serif;
	color: #000000;
	background: url(/images/theme/cite.png) repeat-x center top;
	margin-top: -1px;
}

.comment .cite a:link, .comment .cite a:visited {
	font-size: 110%;
	color: #000000;
	border-bottom: none;
	text-decoration: underline;
}

.comment .cite a:hover, .comment a:hover {
	color: #000080;
	background: #66ccff;
	text-decoration: none;
}

#comment-box {

}

.comment .cite input {
	width: 12em;
	background: #cccccc;
	color: #333333;
	font-size: 90%;
	border: none;
	border-bottom: 1px solid #898989;
	margin-left: .5em;
}

.comment .cite input.button {
	width: auto;
	font-size: 1.25em;
	border-bottom: 1px solid #666666;
	border-right: 1px solid #999999;
	border-left: 1px solid #eeeeee;
	border-top: 1px solid #ffffff;
}

.comment .cite label {

}

.comment div.content textarea {
	font: 1em Georgia, 'Times New Roman', Times, serif;
	background: #5d5d5d;
	color: #ffffff;
	border: 1px solid #000000;
	margin: .5em 0 0;
	display: block;
	width: 100%;
}

.comment div.content input {
	float: right;
}

#comment_loading {

}

#main {
	padding-bottom: 64px;
}

/*</group>*/

/*<group=DEBUG>*/

*.debug {
	outline: 1px solid aqua;
}

debug.post {
	display: none;
}

/*</group>*/

/*<group=sidebar>*/

#sidebar {
	background: #212121 url(/images/theme/sg_nfootpatl.gif) repeat-x;
	color: #ffffff;
	font-size: 1em;
	border-top: 4px solid #666666;
	border-bottom: 1px solid #000000;
	text-align: left;
	text-shadow: 1px 2px 1px #333333;
	padding: 1em;
	position: relative;
	clear: both;
}

.sidebar-node {
	float: left;
	position: relative;
	background: repeat-x;
	padding: 5px;
}

#sidebar h3 {
	color: #ffffff;
	font-size: 1.5em;
	text-align: left;
	text-shadow: 1px 2px 1px #000000;
	line-height: 1em;
	position: relative;
	z-index: 100;
}

#sidebar ul, #sidebar li {
	list-style: inside;
	color: #666666;
}

#sidebar ul {
	padding-top: 5px;
	padding-bottom: 0px;
}

#sidebar li {
	margin-left: 10px;
	font-size: .9em;
	margin-bottom: 5px;
	list-style: none;
	clear: left;
}

#sidebar a:link, #sidebar a:visited {
	background-image: url(/images/theme/link.png);
	background-repeat: no-repeat;
	background-position: left top;
	white-space: normal;
	line-height: 1.2em;
	margin-bottom: .25em;
	padding-left: 20px;
}

#sidebar  a:vsited {
	color: #8000ff !important;
	border-bottom-color: #8000ff !important;
}

#sidebar  a:hover {
	background-color: #66ccff !important;
	color: #000080 !important;
	text-decoration: underline !important;
}

/*</group>*/

/* My Comment */

#sidebar li a:link, #sidebar li a:visited {
	display: block;
	float: left;
	border-bottom-style: none;
}

#sidebar li a:hover {
	border-bottom-style: none !important;
}

/*<group=search2>*/

#side_search {

}

#side_search input {
	vertical-align: middle;
	margin-left: .5em;
	margin-right: .5em;
}

#search-results1 {
	width: 20em;
}

#search_spinner1 {
	vertical-align: middle;
	position: absolute;
}

#search-results1 p {
	display: none !important;
}

#search-results1 a, #search-results1 a:link, #search-results1 a:visited {
	background-image: url(/images/theme/article.png);
}

/*</group>*/

/*<group=sidebars>*/

#categories li em, #archives li em {
	font-style: inherit;
	font-size: 75%;
}

#categories li a:link, #categories li a:visited {
	background-image: url(/images/theme/smart_folder.png);
}

#archives li a:link, #archives li a:visited {
	background-image: url(/images/theme/folder.png);
}

/*</group>*/

/*<group=RSS>*/

#syndicate li a, #syndicate li a:link, #syndicate li a:visited {
	background-image: url(/images/theme/rss.png);
}

/*</group>*/

/*<group=Tags>*/

#sidebar p {
	width: 20em;
	position: relative;
	float: none;
	display: block;
	text-align: center;
	font-size: 11pt;
	padding-top: 0.5em;
	padding-bottom: 0px;
	margin-right: .25em;
	margin-left: .25em;
}

#sidebar span a, #sidebar span a:link, #sidebar span a:visited {
	display: inline;
	float: none;
	clear: none;
	background: none;
	margin: -1px 0;
	line-height: 90%;
	border-style: none;
	text-shadow: .1em .2em .2em #000000;
	padding: 0 2px 1px;
}

#sidebar span a:hover {
	background-color: #66ccff;
	color: #000080;
	border-bottom: 1px solid #040404 !important;
	text-shadow: 1px 2px 1px #3399cc;
	text-decoration: none !important;
}

/*</group>*/

/*<group=flickr>*/

#flickr {
	width: 700px;
	margin: 0;
	padding: 0;
	position: relative;
	clear: both;
}

#flickr h3 a:link, #flickr h3 a:visited {
	text-decoration: none;
	border-style: none;
}

#flickr div a, #flickr div a:link, #flickr div a:visited {
	background: url(/images/theme/sg_npagetl.gif) center center  no-repeat #ffffff !important;
	padding: 0;
	text-align: center;
	display: block;
	float: left;
	position: relative;
	margin-right: 1px;
	border: 1px solid #000000;
	border-top-color: #cccccc;
	border-left-color: #333333;
	border-bottom-width: 2px;
}

#flickr div a img, #flickr div a:link img, #flickr div a:visited img {
	margin: .5em .5em 1em;
	border: 1px solid #666666;
	border-bottom-color: #999999;
	border-top-color: #000000;
}

#flickr div a:visited {

}

#flickr div a:hover {
	background: #212121 url(/images/theme/sg_nfootpatl.gif) repeat-x !important;
	border-color: #212121;
}

#flickr div a:hover img {
	border-color: #eeeeee;
	border-top-color: #ffffff;
	border-left-color: #ffffff;
}

.flickrrectangle, .flickrsquare {
	display: inline;
	float: left;
}

/*</group>*/

/*<group=tada>*/

#tada, #tada-title {
	width: 18em;
}

#tada li a:link, #tada li a:visited {
	padding-left: 18px;
	background-image: url(/images/theme/tada-do.gif);
}

#tada li del {
	color: #ffffff;
}

#tada li del a:link, #tada li del a:visited {
	color: #4dbaba;
	padding-left: 22px;
	background-image: url(/images/theme/tada-done.gif);
	background-color: #111111;
}

/*</group>*/

/*<group=delicious>*/


#delicious {
	width: 20em;
}

#delicious li {
	clear: left;
}

#delicious li a:link, #delicious li a:visited {
	background-image: url(/images/theme/delicious.gif);
	padding-left: 16px;
}

/*</group>*/

/*<group=technorati>*/

#technorati {
	width: 20em;
}

#technorati li {
	clear: left;
}

#technorati li a:link, #technorati li a:visited {
	background-image: url(/images/theme/technorati.gif);
}

/*</group>*/

#footer {
	background: #797979 url(/images/theme/sg_n4020.gif) repeat-x;
	color: #ffffff;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #000000;
	text-align: right;
	text-shadow: 1px 2px 1px #333333;
	padding: 16px;
	font: 1.5em Georgia, 'Times New Roman', Times, serif;
}

#footer ul, #footer li {
	color: #ffffff;
	list-style: none;
	display: inline;
	font: 10px Geneva, Helvetica, Arial, sans-serif;
}

#footer a, #footer a:link, #footer a:visited {
	border-bottom: 2px solid #666666 !important;
}

#footer a img, #footer a:link img, #footer a:visited img {
	margin-bottom: -3px;
}

#footer a:hover {
	background-color: #ffffff;
	border-bottom: 2px solid #a8ffff !important;
	text-shadow: 1px 2px 1px #a8ffff;
}

a.rss-link {
	padding-left: 22px;
	background-image: url(/images/theme/rss.gif);
	background-repeat: no-repeat;
	background-position: bottom left;
}

cite {
	font-style: normal;
}

