<% if !@search.to_s.blank? -%>
  <ul>
  <% for article in @articles.to_a -%>
    <li><%= link_to_permalink article, article.title %></li>
  <% end -%>
  <!--li class="searchstring"><em>Searched for "<%= @search %>"</em></li-->
  </ul>
<% else %>
  &nbsp;
<% end -%>
