<% count = 1 -%>
<% for article in @articles -%>
 <div class="post">
  <% if count == 1 %>
  	<%= render :partial => "firstarticle", :object => article %>
  <% else %>
  	<%= render :partial => "article", :object => article %>
  <% end %>
  <p><%= article_link "Read more...", article if article.extended? %></p>
 </div>
 <% count = count + 1 %>
<% end -%>

<p class="pagination"><%= will_paginate @articles %></p>
