/* Stripes Screen Styles */
*
{
	margin: 0;
	padding: 0;
}

body
{
	text-align: center;
	color: #444B53;
	font-family: "lucida grande", verdana, geneva, sans-serif;
	background: #606B77;
}

#container
{
	background: #fff url(/images/theme/contentbg.gif) repeat-y;
	width: 707px;
	margin: 0 auto;
}

#header
{
	width: 707px;
	height: 136px;
	background: #fff url(/images/theme/header.gif) no-repeat;
	text-align: left;
	position: relative;
}

#content
{
	color: #000;
	padding: 0 0 20px 0;
	text-align: left;
	float: left;
	width: 500px;
	overflow: hidden;
}

#search
{
	color: #517B92;
	font: 12px Arial, sans-serif;
	font-weight: bold;
	line-height: 15px;
	letter-spacing: 1px;
	margin: 15px 0 10px 7px;
	vertical-align: middle;
	/*height: 139px;*/
}

#sidebar
{
	float: right;
	width: 200px;
	color: #515566;
	text-align: left;
	padding: 0;
	background: transparent;
}

#footer
{
	width: 707px;
	height: 40px;
	clear: both;
	margin: auto;
	position: relative;
	background: #fff url(/images/theme/footer.gif) no-repeat;
	text-align: center;
}

/*+-------------------------------------------+
  |   			LINKS 						  |
  +-------------------------------------------+*/

a:link, a:visited
{
	color: #39c;
	text-decoration: none;
	font-weight: bold;
}

a:hover
{
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

a:active
{
	color: #39c;
	text-decoration: none;
	font-weight: bold;
}

/*+-------------------------------------------+
  |   			UTILITY 					  |
  +-------------------------------------------+*/

.alignright { float: right; }
.center { text-align: center; }
.alignleft { float: left; }
img { border: 0px; }
.strike { text-decoration: line-through; }

img.border
{
	border: solid 1px #444B53;
	padding: 1px;
	background: #fff;
}

form, div
{
	padding: 0;
	margin: 0;
}

img { border: 0; }

/*+-------------------------------------------+
  |   			HEADER 						  |
  +-------------------------------------------+*/

#header h1
{
	position: absolute;
	top: 88px;
	left: 20px;
	color: #444B53;
	font: 30px Arial, sans-serif;
	text-shadow: #c3ced5 1px 1px;
	font-weight: normal;
}

#header h1 a:link, #header h1 a:visited, #header h1 a:active, #header h1 a:hover 
{
	color: #444B53;
	font: 30px Arial, sans-serif;
	text-shadow: #c3ced5 1px 1px;
	font-weight: normal;
}

#header h1 a:hover
{
	color: #000;
	text-shadow: #c3ced5 1px 1px;
	font-weight: normal;
}

#header #subtitle {
	position: absolute;
	top: 119px;
	left: 250px;
	color: white;
	font: 11px "lucida grande", lucida, verdana, geneva, sans-serif;
	word-spacing: 2px;
	letter-spacing: 1px;
	/*text-shadow: #697377 0px 1px;*/
}
/*+-------------------------------------------+
  |   			        SEARCH     						    |
  +-------------------------------------------+*/

#sform { padding-top: 35px; }

#sidebar #searchform #s
{	color: #6897b1;
	font: 13px Arial, sans-serif;
	font-weight: bold;
	line-height: 15px;
	letter-spacing: 1px;
	margin: 15px 0 10px 7px;
	width: 160px;
	height: 15px;
	vertical-align: middle; }

#sidebar #searchsubmit { padding: 1px; }
#search-results { padding: 2px; }


/*+-------------------------------------------+
  |   			POST 						                  |
  +-------------------------------------------+*/

.post h2
{
	color: #6897b1;
	font: 16px Arial, sans-serif;
	font-weight: bold;
	border-bottom: 1px dotted #D7E6EE;
	letter-spacing: 1px;
	text-align: left;
	width: 475px;
	padding: 0 0 0 10px;
	margin: 40px 0 0 10px;
	word-spacing: 1px;
}

#content h2
{
	color: #6897b1;
	font: 16px Arial, sans-serif;
	font-weight: bold;
	border-bottom: 1px dotted #D7E6EE;
	letter-spacing: 1px;
	text-align: left;
	width: 475px;
	padding: 0 0 0 10px;
	margin: 40px 0 0 10px;
	word-spacing: 1px;
}

.post h2 a
{
	color: #6897b1;
	text-decoration: none;
	border: none;
	font-weight: bold;
}

h2 a:hover
{
	color: #000;
	font-weight: bold;
}

.post h2 a:hover
{
	color: #000;
	font-weight: bold;
}

h4
{
	margin: 3px 0 50px 45px;
	width: 440px;
	font-size: 10px;
	font-weight: normal;
	color: #999;
}

h4 a:link, h4 a:visited, h4 a:active
{
	color: #999;
	font-weight: normal;
}

h4 a:hover
{
	color: #000;
	font-weight: normal;
}

.date
{
	background: #fff url(/images/theme/date.gif) no-repeat left center;
	padding-left: 12px;
	float: left;
	font-weight: normal;
}

.comm
{
	background: #fff url(/images/theme/comm.gif) no-repeat left center;
	padding-left: 15px;
	float: right;
	font-weight: normal;
}

#content ul, #content ul p
{
	padding: 0;
	margin: 0 0 15px 40px;
	width: 365px;
}

#content li, #content li p
{
	list-style: circle inside url(/images/theme/bullet.gif);
	color: #444B53;
	text-align: left;
	font-size: 11px;
	line-height: 15px;
	word-spacing: 2px;
}

#content .meta
{
	color: #999;
	margin: 0 0 0 0px;
	font-size: 9px;
	width: 465px;
	text-align: right;
}

.post p
{
	color: #444B53;
	text-align: left;
	font-size: 11px;
	line-height: 16px;
	width: 445px;
	margin: 10px 0px 15px 30px;
	word-spacing: 2px;
}

#content p
{
	color: #444B53;
	text-align: left;
	font-size: 11px;
	line-height: 16px;
	width: 445px;
	margin: 10px 0px 15px 30px;
	word-spacing: 2px;
}

#content #links li
{
	list-style: none;
	display: inline;
	margin: 0 3px 0 0;
}

.post img
{
	border: solid 1px #444B53;
	padding: 6px;
	background: #fff;
	text-align: center;
}

.post blockquote
{
	width: 400px;
	margin: 15px 20px;
	text-align: center;
}

.post blockquote p
{
	width: 400px;
	color: #677380;
	font-style: italic;
	text-align: left;
}

.post .code
{
	width: 400px;
	margin: 15px 20px 15px 50px;
	text-align: center;
	border: solid 1px #444B53;
	background: #F3F8FB;
}

.post .code p
{
	width: 375px;
	text-align: left;
	font: 11px monaco, courier new, courier, serif;
}

.typocode_default 
{
	text-align: left;
	font: 11px monaco, courier new, courier, serif;
	margin-left: 40px;
}
.meta
{
	font-size: 75%;
	text-align: right;
	margin-right: 5px;
}

#content #pagination 
{
	background: #f7fbfd;
	border: 1px dotted #999;
	width: 350px;
	margin: 50px 0px 20px 60px;
	padding: 6px;
	text-align: center;
}

/*+-------------------------------------------+
  |   			      COMMENTS						         |
  +-------------------------------------------+*/

.comment-list li
{
	background: #f7fbfd;
	padding: 5px;
	color: #555;
	width: 440px;
	list-style-type: none;
	text-align: left;
	margin: 0 30px 30px 30px;
	border-color: #999;
	border-width: 1px;
	border-style: dotted;
}

#content p
{
	color: #444B53;
	text-align: left;
	font-size: 11px;
	line-height: 16px;
	width: 410px;
	margin: 10px 0px 15px 30px;
	word-spacing: 2px;
}

.comment list p
{
	color: #444B53;
	text-align: left;
	font-size: 11px;
	line-height: 16px;
	width: 385px;
	margin: 10px 0px 15px 30px;
	word-spacing: 2px;
}	
/*.graybox
{
	margin: 30px 30px 8px 30px;
	background: #f7fbfd;
	list-style-type: none;
	list-style-position: inside;
	border-color: #999;
	border-width: 1px;
	border-style: dotted;
}*/
	
#commentform { width: 375px;
			text-align: left;
			margin: 0;
			}
.commentform { width: 375px;
			text-align: left;
			margin: 0;
			}
.comment-box { width: 375px;
			text-align: left;
			margin: 0 0 0 30px;
			}
.comment-box p { margin: 0 10px 0 0; }
.comment-box input, .commment-box textarea
{
	width: 300px;

} 

/*+-------------------------------------------+
  |   			SIDEBAR 						               |
  +-------------------------------------------+*/

#sidebar a:link, #sidebar a:visited
{
	color: #2C84B7;
	text-decoration: none;
}

#sidebar a:hover
{
	color: #666;
	text-decoration: none;
}

#sidebar dt
{
	color: #515566;
	font-size: 9px;
	line-height: 12px;
	margin: 0 0 0 10px;
	background: transparent url(/images/themes/arrow.gif) no-repeat left center;
	padding-left: 7px;
}

#sidebar dd, .tags
{
	color: #4D5661;
	font-size: 9px;
	line-height: 17px;
	width: 170px;
	word-spacing: 5px;
	margin: 0 0 10px 10px;
}

#sidebar p
{
	color: #4D5661;
	font-size: 9px;
	line-height: 17px;
	width: 170px;
	word-spacing: 1px;
	margin: 0 0 10px 10px;
}

#sidebar ul li
{
	color: #4D5661;
	font-size: 9px;
	line-height: 11px;
	width: 170px;
	word-spacing: 1px;
	margin: 0 0 10px 10px;
	list-style: inside url(/images/theme/arrow.gif);
}

#sidebar h3
{
	color: #517B92;
	font: 13px Arial, sans-serif;
	font-weight: bold;
	border-bottom: 1px dotted #D7E6EE;
	line-height: 15px;
	letter-spacing: 1px;
	margin: 30px 0 10px 7px;
	width: 160px;
	height: 15px;
	vertical-align: middle;
}

#sidebar h3 a, #sidebar h3 a:visited
{
	color: #517B92;
	border-bottom: 1px dotted #D7E6EE;
}

#sidebar h3 a:hover { color: #666; }

#flickrrectangle img { 
	border: 1px solid #444B53;
	padding: 2px;
	background: #fff;
	 }

#flickrrectangle
{
	width: 120px;
	margin: 10px;
	text-align: center;
}


/*+-------------------------------------------+
   |   			FOOTER 						                 |
   +-------------------------------------------+*/

#footer a:link, #footer a:visited
{
	color: #069;
	text-decoration: none;
	font-weight: bold;
}

#footer a:hover
{
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

#footer p
{
	position: absolute;
	top: 15px;
	left: 280px;
	color: #333;
	font-size: 9px;
	text-align: center;
	margin: auto;
	font-weight: bold;
}

/*+-------------------------------------------+
   |   			       FORMS 						           |
   +-------------------------------------------+*/

input, textarea, select
{
	border: 1px solid #8ab3d1;
	background: #f9f9f9;
}

.frm-tbl {	padding: 0;
	text-align: left;
	margin: 0;}

.frm-tbl td
{
	vertical-align: top;
	padding: 0;
	text-align: left;
}

td#frm-btns { text-align: left; }
#comment_body { height: 220px; }
#form-submit-button { background: #d3e0ea; }

/*+-------------------------------------------+
   |   		          	MISC 						         |
   +-------------------------------------------+*/

.pullquote
{
	width: 300px;
	float: right;
	font: 150%/1.5em Times, Helvetica, "Times New Roman", serif;
	color: #666;
	margin: 30px;
	background: url(../../images/theme/q-close.gif) no-repeat 70% 100% !important;
	/**/
	/* removing quote graphic in IE5+ */
	padding: 0 25px 5px 0;
}

.pullquote:first-letter
{
	background: url(../../images/theme/q-open.gif) no-repeat left top !important;
	/**/
	padding: 0px;
	/* resetting padding in IE5+ */
	/**/
	/* removing quote graphic in IE5+ */
}

.light-bg
{
	background: #f7f7f7;
	padding: 2px;
}

.clearfix:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#errors { color: red; }

.admintools
{
	float: right;
	background-color: #fff;
	font-size: smaller;
	padding: 0 2px;
	margin: 0 1px;
	color: #ccc;
	border: 1px solid #ccc;
}

.admintools:hover
{
	color: #c00;
	border: 1px solid #c00;
}

a[name] { border: none; }

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }

/* End hide from IE-mac */
#categories li em, #archives li em
{
	color: #98B4D1;
	font-size: smaller;
}