<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <title>Test</title>
      <link href="test.css" media="screen" rel="Stylesheet" type="text/css" />
</head>
<body>
      <div id="wrapper">
            <div id="header">
                  <h1>Test Weblog</h1>
                  <h2>The great place for all your test weblog</h2>
            </div>
            <div id="body">
                  <div id="maincolumn">
                        <h2>Test</h2>
                        <h4>Posted by Micah Wylde 5 days ago</h4>
                        <p>This is a radom test of text.
                        This is not real text, for if this were real text
                        it would actually say something. La la al a la la.
                        Yes. For this says nothing, and if you've actually
                        taken the time to read this far, you've wasted about
                        10 seconds of your--wait--now 15 seconds of your life,
                        which you will never be able to recoup. Ha ha ha ha ha.
                        Mwahaahaha. hehehehe cough.</p>
                  </div>
                  <div id="sidecolumn">
                        <h2>Test</h2>
                        <p>Ooh. Lot's of cool stuff over here in the exclusive
                        <i>side</i> column.
                        </p>
                  </div>
            </div>
            <div id="footer">
                  &copy;2005 Micah Wylde
                  <br />This is proper XHTML
                  <br />And did I mention CSS?
            </div>
      </div>
</body>
</html>
