<% for article in @articles -%>
 <div class="post">
  <%= render :partial => "article", :object => article %>
  <%= link_to_permalink(article, "#{_("Read more")}...") if article.extended? %>  
  </div>
<% end -%>

<p class="pagination"><%= will_paginate @articles %></p>
