/* Indie Stripes Screen Styles - Seattle */
body {
	background: #fff url(../../images/theme/bg_seattle.gif) repeat-y;
	}

a {
   color: #6B494A;
   border-bottom: 1px dotted #6B494A;
}

a:hover, a:visited { 
   color: #31AEC4; 
   border-bottom-color: #31AEC4; 
}

h2 {
   color: #5B5B5B;
}
    
blockquote {
   border: 1px dashed #2E938A;
   background-color: #E0F7F0;
}

#logo h1 a { 
   color: #6B494A; 
}

#top_image {
   background: url('../../images/theme/topleft_seattle.gif') 0px 0px no-repeat;
}

.brace {
   color: #738D85;
}

h2#subtitle {
   color: #D7D7D7;
}

#top_nav a, #top_nav a:link,#top_nav  a:active, #top_nav a:hover, #top_nav a:visited {
   color: #31AEC4;
	border-bottom: 1px dotted #31AEC4;
}

.post h1 {
  	color: #515151;
}
	
.post h1 a {
	color: #515151;
}
	
.post h2 a:hover {
	color: #85ab02;
}
	
div.auth {
   color: #9a9a9b;
}
	
/*+-------------------------------------------+
|   			      COMMENTS	 			         |
+-------------------------------------------+*/
.comment-list li {
	background: #d3e0ea;
	color: #555;
}

.comment-box h3, h3.section_head {
   color: #6B494A;
   border-top: 1px dashed #857474;
   border-bottom: 1px dashed #857474;
}

.user-comment {
   border-top: 1px dashed #d1d1d1;
}

.user-comment .auth {
   color: #515151;
}

.comment-even .auth {
   background: #E8E7E7;
}

.comment-odd .auth {
   background: #DFEDEF;
}
   
 /*+-------------------------------------------+
  |   			SIDEBAR 						       |
  +-------------------------------------------+*/
  
#sidebar h3, #search label {
		color: #6B494A;
}

#sidebar a {
	color: #6DA493;
	border-bottom: 1px dotted #6DA493;
}

#sidebar ul li { 
 	background: url(../../images/theme/bullet_seattle.gif) 0 45% no-repeat;
}

#sidebar ul#syndicate li { 
 	background: url(../../images/theme/rss_seattle.gif) 0 45% no-repeat;
}