<% for article in @articles -%>
 <div class="post">
  <%= render :partial => "article", :object => article %>  
  <p class="meta"><%= article_links article %></p> 
  </div>
<% end -%>

<p class="pagination"><%= will_paginate @articles %></p>
